"use strict";

interface Config {
  webhook: string;
  jc_username: string;
  jc_password: string;
  port: number;
  mail_server: string;
  mail_port: number;
  mail_tls: boolean;
  mail_user: string;
  mail_pass: string;
}

export let config: Config = {
  webhook:
    "https://discord.com/api/webhooks/x/x",
  jc_username: "",
  jc_password: "",

  port: 8080,

  mail_server: "",
  mail_port: 465,
  mail_tls: true,
  mail_user: "",
  mail_pass: "",
};
